@model ArriendoDeAutosASP.Models.Vehicle

@{
    ViewData["Title"] = "Create Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Create</h1>

    <h4>Vehicle</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="AddVehicle">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <input asp-for="Type" class="form-control" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HP" class="control-label"></label>
                    <input asp-for="HP" class="form-control" />
                    <span asp-validation-for="HP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModelYear" class="control-label"></label>
                    <input asp-for="ModelYear" class="form-control" />
                    <span asp-validation-for="ModelYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Vehicle" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="IndexVehicle">Back to List</a>
    </div>
</div>