
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var punto = Punto8.Function1(); ;
}


<h1 class="text-center">Administration Area</h1>
<div class="card-group">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Offices</h5>
            <p class="card-text text-center">Manage existing or new Offices, edit or delete them from the Db</p>
            <a class="btn btn-primary" asp-area="" asp-controller="Offices" asp-action="Index">Click Me!</a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Vehicles</h5>
            <p class="card-text text-center">Manage existing or new vehicles, edit or delete them from the Db</p>
            <a class="btn btn-primary" asp-area="" asp-controller="Vehicles" asp-action="Index">Click Me!</a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Clients</h5>
            <p class="card-text">Manage existing or new clients, edit or delete them from the Db.</p>
            <a class="btn btn-primary" asp-area="" asp-controller="Clients" asp-action="Index">Click me!</a>
        </div>
    </div>
</div>
<hr />
<h1 class="text-center">Records</h1>
<div class="card-group">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Rented Cars</h5>
            <p class="card-text">Track any rental ticket.</p>
            <a class="btn btn-secondary" asp-area="" asp-controller="Rentals" asp-action="Index">Click Me!</a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Bills</h5>
            <p class="card-text">Accountability</p>
            <a class="btn btn-secondary" asp-area="" asp-controller="Bills" asp-action="Index">Click Me!</a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Emails</h5>
            <p class="card-text">Non user emails</p>
            <a class="btn btn-secondary" asp-area="" asp-controller="Emails" asp-action="Index">Click Me!</a>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="card text-center mw-100">
        <div class="card-body">
            <h5 class="card-title">Static Function</h5>
            <form action="">
                @punto
            </form>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="card text-center mw-100">
        <div class="card-body">
            <h5 class="card-title">Privacy</h5>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Read Me!</a>
        </div>
    </div>
</div>
</div>