
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin</h1>

<div class="">
    <ul class="">
        <li class="">
            <a class="text-dark" asp-area="" asp-controller="Vehicles" asp-action="Index">Vehicles</a>
        </li>
        <li class="">
            <a class="text-dark" asp-area="" asp-controller="Offices" asp-action="Index">Offices</a>
        </li>
        <li class="">
            <a class="text-dark" asp-area="" asp-controller="Clients" asp-action="Index">Clients</a>
        </li>
        <li class="">
            <a class="text-dark" asp-area="" asp-controller="Rentals" asp-action="Index">Rent a Car</a>
        </li>
        <li class="">
            <a class="text-dark" asp-area="" asp-controller="Bills" asp-action="Index">Bills</a>
        </li>
    </ul>
</div>