@{
    ViewData["Title"] = "Read Me!";
}
<h1>@ViewData["Title"]</h1>

<h5>Prueba n°3 - Programacion Avanzada</h5>
<h5>Asp.Net 5 - Arquitectura MVC</h5> 
<h5>Admin Login: <strong>tay@admin.cl / Qw3rt!</strong></h5>
